
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<form method="post" action="/account/login">
    <label>Username</label><br />
    <input type="text" name="uname" /><br />
    <label>Password</label><br />
    <input type="password" name="pass" /><br />
    <input type="submit" value="Login" />
</form>
<span>@ViewBag.msg</span>
